<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{master/head:: head}"></head>

<body>
<!-- Inclusion du header -->
<div th:replace="~{master/header:: header}"></div>

<!-- Inclusion de la sidebar -->
<div th:replace="~{master/sidebar:: sidebar}"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Compétence</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste de compétences</h5>

                <!-- Table with hoverable rows -->
                <!-- Table with hoverable rows -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Boucle Thymeleaf pour afficher chaque compétence -->
                    <tr th:each="competence : ${competences}">
                        <td th:text="${competence.getCompetence()}"></td>
                    </tr>
                    </tbody>
                </table>

                <!-- End Table with hoverable rows -->

            </div>
        </div>
    </section>

</main><!-- End #main -->


<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.min.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>