<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{master/head:: head}"></head>
<body>
<!-- Inclusion du header -->
<div th:replace="~{master/header:: header}"></div>

<!-- Inclusion de la sidebar -->
<div th:replace="~{master/sidebar:: sidebar}"></div>

<main id="main" class="main">

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <h2 th:text="${user.name} +' '+${user.prenom} "></h2>
          <h3>
            <span th:if="${user.role == 0}">Développeur</span>
            <span th:if="${user.role == 1}">Chef de projet</span>
          </h3>

          <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <!-- Afficher le message de succès -->
        <div th:if="${message}" class="alert alert-success" role="alert">
          <span th:text="${message}"></span>
        </div>

        <!-- Afficher le message d'erreur -->
        <div th:if="${error}" class="alert alert-danger" role="alert">
          <span th:text="${error}"></span>
        </div>

        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Profil</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Modifier</button>
            </li>

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">

              <h5 class="card-title">Details du profil</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Nom et prénom</div>
                <div class="col-lg-9 col-md-8" th:text="${user.name + ' ' + user.prenom}"></div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Role</div>
                <div class="col-lg-9 col-md-8">
                  <span th:if="${user.role == 0}">Développeur</span>
                  <span th:if="${user.role == 1}">Chef de projet</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Disponibilité</div>
                <div class="col-lg-9 col-md-8">
                          <span th:classappend="${user.disponible ? 'badge bg-success text-light' : 'badge bg-danger text-light'}"
                      th:text="${user.disponible ? 'Disponible' : 'Indisponible'}"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Compétences:</div>
                <div class="col-lg-9 col-md-8">
                  <ul>
                    <li th:each="competence : ${user.getCompetences()}">
                      <span th:text="${competence.competence}"></span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8" th:text="${user.email}"></div>
              </div>

            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              <!-- Profile Edit Form -->
              <form action="/profile/update" th:object="${user}" method="post">
                <div class="row mb-3">
                  <label for="name" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="name" type="text" class="form-control" id="name"
                           th:field="*{name}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="prenom" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="prenom" type="text" class="form-control" id="prenom"
                           th:field="*{prenom}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="disponible" class="col-md-4 col-lg-3 col-form-label">Disponibilité</label>
                  <div class="col-md-8 col-lg-9">
                    <select id="disponible" name="disponible" class="form-select" th:field="*{disponible}">
                      <option th:value="true" th:text="'Disponible'" th:selected="${user.disponible}">Disponible</option>
                      <option th:value="false" th:text="'Indisponible'" th:selected="${!user.disponible}">Indisponible</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="competences" class="col-md-4 col-lg-3 col-form-label">Compétences</label>
                  <div class="col-md-8 col-lg-9">
                    <select id="competences" name="competences[]" class="form-control" multiple="multiple">
                      <option th:each="competence : ${competences}"
                              th:value="${competence.id}"
                              th:text="${competence.competence}"
                              th:selected="${user.competences.contains(competence)}"></option>
                    </select>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
              </form>
            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>
</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.min.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<!-- Initialisation de Select2 -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#competences').select2({
      placeholder: 'Sélectionnez vos compétences',
      allowClear: true,
      width: '100%'
    });
  });
</script>

</body>

</html>